@import "tailwindcss";

/* small global adjustments */
:root {
  --accent: #0062FF;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
a { text-decoration: none; }
